<!DOCTYPE html >
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
<div id="wrapper">

    <header>
        <ul class="menu">
            <li>
                <a href="somos.html">
                    somos
                </a>
            </li>
            <li>
                <a href="noticias.html">
                    noticias
                </a>
            </li>
            <li>
                <a href="directorio.html">
                    Directorio
                </a>
            </li>
            <li>
                <a href="capacitacion.html">
                    Capacitacion
                </a>
            </li>
            <li>
                <a href="eventos.html">
                    eventos
                </a>
            </li>
            <li>
                <a href="contacto.html">
                    contacto
                </a>
            </li>
        </ul>
    </header>
    <div id="content">
        <article class="article-contenido">
            <div class="titulo">
                Directorio
            </div>
            <div class="directorio">
            <img src="img/directorio/directorio.png">
            </div>
        </article>

    </div>

    <footer>

    </footer>

</div>
</body>
</html>