<!DOCTYPE html >
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
<div id="wrapper">

    <header>
        <ul class="menu">
            <li>
                <a href="somos.html">
                    somos
                </a>
            </li>
            <li>
                <a href="noticias.html">
                    noticias
                </a>
            </li>
            <li>
                <a href="directorio.html">
                    Directorio
                </a>
            </li>
            <li>
                <a href="capacitacion.html">
                    Capacitacion
                </a>
            </li>
            <li>
                <a href="eventos.html">
                    eventos
                </a>
            </li>
            <li>
                <a href="contacto.html">
                    contacto
                </a>
            </li>
        </ul>
    </header>
    <div id="content">

        <article class="article-contenido">
            <div class="titulo">
                Noticias
            </div>
            <div class="noticia-index clearfix">
                <div class="imagen-noticia-grande">
                    <img src="img/noticias/not1-grande.jpg">
                </div>
                <div class="texto">
                    <div class="subtitulo-noticia">
                        Termina demanda contra Peñasquito:
                        llega a acuerdos con El Vergel
                    </div>
                    <div class="texto-noticia">
                        Llegaron a un acuerdo el ejido El Vergel y la Minera Peñasquito ante el Tribunal Unitario Agrario para que puedan ser ocupadas de manera temporal por la empresa canadiense 1.600 hectáreas.
                        La Subdelegación Jurídica de la Procuraduría Agraria informó mediante un comunicado de prensa que ambas partes firmaron ante la magistrada Leticia Díaz de León Torres, titular de dicho Tribunal, el convenio de mutuo acuerdo para ocupación temporal de esa superficie de uso común.
                        Hace un mes integrantes del Frente Popular de Lucha por Zacatecas (FPLZ) dieron a conocer que el monto de la indemnización era de 30 millones de dólares, por un plazo de 30 años.
                        Con el anuncio realizado este martes el caso entra a la categoría de "cosa juzgada", dando por terminada la demanda interpuesta en 2009, además de reiterar el compromiso de los diferentes órdenes de gobierno por procurar condiciones equitativas para los habitantes del semidesierto y la atracción de inversión, para generar empleos.
                        El convenio contempla la realización del pago retroactivo por el uso de la tierra durante el tiempo transcurrido entre el proceso legal hasta llegar a la firma de este convenio.
                        Este proceso conciliatorio fue acompañado por la delegación estatal de la Procuraduría Agraria cumpliendo con su función de garante para salvaguardar los derechos de los ejidatarios.
                        Con este acuerdo se beneficiarán 85 ejidatarios de manera directa y más de 750 de manera indirecta, pues además de la cantidad mencionada, se realizó un compromiso de colaboración en el rubro de responsabilidad social.
                        Los habitantes del ejido también contarán con beneficios para las familias de la comunidad, que incluyen becas de estudio, desarrollo de proyectos productivos y alianzas de proveeduría para la mina.
                        Los ejidatarios de El Vergel y la Minera Peñasquito, de acuerdo con la Procuraduría Agraria, decidieron el camino del acuerdo y la conciliación en el marco de la actual legislación.
                        Por un lado se constata la voluntad social de los habitantes del Ejido El Vergel por conservar y apoyar una importante fuente de desarrollo económico para la región del semidesierto, además de la disponibilidad de la empresa por signar acuerdos dentro del marco de la justicia y la equidad.
                        El interés del Gobierno del Estado también se muestra al buscar acuerdos que permitan impulsar el progreso en los mejores términos para las partes, y con beneficios en empleos y educación en tema un tan sensible como la minería, que representa la vocación económica del estado.
                    </div>
                </div>
            </div>
            <div class="noticia-index clearfix">
                <div class="imagen-noticia-grande">
                    <img src="img/noticias/not2-grande.jpg">
                </div>
                <div class="texto">
                    <div class="subtitulo-noticia">
                        Colocan primera piedra de Lasec
                        Telecomunicaciones y Atlas Copco
                    </div>
                    <div class="texto-noticia">
                        Calera.- Autoridades estatales y directivos de las empresas Lasec Telecomunicaciones y Atlas Copco Mexicana, colocaron este miércoles la primera piedra de las construcciones para estos dos grandes negocios que se instalarán en el Parque Industrial Sumar 1 Aeropuerto de Calera.
                        Como parte de las actividades del gobernador Miguel Alonso Reyes, dieron arranque a la construcción de estas empresas donde se invertirán 7 millones de dólares y se generarán alrededor de 400 empleos directos.
                        En la colocación de la primera piedra de Atlas Copco Mexicana de capital sueco y proveeduría minera, el director general en México, Carlos Caicedo indicó que el estado es un lugar privilegiado para atraer inversiones pues cuenta con la infraestructura para ello.
                        Explicó que la compañía cuenta con más de 220 personas calificadas en el área de minería y explicó que la nueva planta contará con un taller de reconstrucción que estará esquipado con la más alta tecnología.
                        Asimismo un centro de capacitación que tendrá un simulador con bancos de pruebas y almacén de partes originales.
                        Patricia Salinas Alatorre, titular de la Secretaría de Economía de Zacatecas (Sezac) dio a conocer que desde 2011 se creó el Cluster Minero para crear una cadena de proveedores locales e internacionales.
                        En este sentido, comentó que las actividades mineras en la entidad dejan una importante derrama económica “derivado de estas acciones, es que hoy colocamos la primera piedra de Atlas Copco Mexicana, empresa de capital sueco que este año cumple 140 años de su creación”.

                        Colocación de la primera piedra, Lasec Comunicaciones

                        Por su parte, Jesús Flores Mendoza, director general de Lasec Telecomunicaciones, informó que esta empresa tiene 24 años en la entidad y crea proyectos de este rubro para toda la industria.
                        Flores Mendoza, indicó que actualmente negocian con fabricantes de Alemania y Estados Unidos para dar servicios de ingeniería, sin embargo, no dio más detalles al respecto.
                        Aunado a estas actividades en el Parque Industrial Sumar 1 Aeropuerto, el gobernador del estado recorrió y supervisó la zona donde se construye el Gasoducto, mismo que hasta ahora registra un avance del 60 por ciento.
                    </div>
                    <div class="centro">
                        <img src="img/noticias/not2-larga.jpg">
                    </div>
                </div>
            </div>
            <div class="noticia-index clearfix">
                <div class="imagen-noticia-grande">
                    <img src="img/noticias/not3-grande.jpg">
                </div>
                <div class="texto">
                    <div class="subtitulo-noticia">
                        ¿Qué pasó con la acción de
                        Minera Frisco este viernes?
                    </div>
                    <div class="texto-noticia">
                        Bloomberg

                        La Bolsa Mexicana de Valores (BMV) canceló por error algunas operaciones que provocaron que las acciones de Minera Frisco, empresa de Carlos Slim, duplicaran su precio, según confirmó un funcionario del mercado local.
                        Una falla técnica en la Bolsa elevó el precio de la acción hasta 104 por ciento en las transacciones de la jornada, confirmó la fuente, quien pido no ser identificada por no estar autorizada a hablar en el asunto.
                        Las operaciones fueron canceladas alrededor de 10 minutos antes del cierre de la sesión, que representaron el volumen de alrededor de 250 mil acciones, dijo la fuente.
                        Roberto Gavaldón, un portavoz de la BMV, no respondió una llamada telefónica ni un correo electrónico en busca de comentarios acerca de este hecho.
                        Aurelio Bueno, un funcionario de prensa de la Comisión Nacional Bancaria y de Valores, aseguró que se estaba revisando la causa del “salto” en las acciones de Frisco.
                        En tanto, la empresa minera aseguró que la compañía no tuvo conocimiento del motivo para el movimiento el día de hoy.
                        Al final, los títulos con clave de pizarra MFRISCO A-1 aparecían en el sitio web y en la app de la BMV en un precio de 36.29 pesos, tras una variación positiva de 24.92 por ciento.
                        Debido a que a partir del lunes los títulos de la empresa de Slim ya no formarán parte de la muestra del IPC, muchos inversionistas retiraron sus posiciones en la empresa para rebalancear sus portafolios con la nueva muestra.
                    </div>
                </div>
            </div>
            <div class="noticia-index clearfix">
                <div class="imagen-noticia-grande">
                    <img src="img/noticias/not4-grande.jpg">
                </div>
                <div class="texto">
                    <div class="subtitulo-noticia">
                        Ven inconstitucionalidad en
                        nuevo impuesto propuesto a minería
                    </div>
                    <div class="texto-noticia">
                        México, 29 Ago. (Notimex).- De aprobarse el nuevo gravamen propuesto para las actividades de la industria minera, tendría consecuencias económicas adversas para el sector y pudiera ser declarado como inconstitucional, advirtió la firma Baker & McKenzie México.
                        En un análisis, la empresa de consultoría señaló que el Ejecutivo propuso las llamadas “regalías mineras”, las cuales buscan crear un nuevo impuesto sobre las ganancias de las empresas de esta industria.
                        Refirió que en su legislación minera, México mantiene un derecho sobre minería en función de la superficie y la antigüedad de la concesión otorgada, y otros países han adoptado esquemas en los que se cobra el derecho minero o regalía sobre la producción minera.
                        Sin embargo, precisó, también aportan a la industria otros beneficios que los hace atractivos para la inversión con la consecuente creación de empleo y bienestar.
                        “México es uno de los pocos países en el mundo que carece de este impuesto o gravamen,” explicó el socio experto en el Sector Minero de Baker & McKenzie México, Jorge Ruiz.

                        “No obstante, el porcentaje que se plantea cobrar de manera general y la no deducibilidad del mismo del Impuesto sobre la Renta (ISR) y la imposibilidad de deducir de su base otros conceptos, lo convierte en uno de los más gravosos del mundo”, añadió.

                        B&M afirmó que, independientemente de las repercusiones económicas que la introducción del Derecho Especial sobre Minería traería de aprobarse como se plantea por la cámara baja, la adopción del nuevo derecho pudiera ser declarado como inconstitucional.
                        De acuerdo con la firma, este nuevo derecho violaría algunos de los principios tributarios al no cumplir con las resoluciones de la Suprema Corte de Justicia de la Nación (SCJN).
                        Uno de estos principios es el de legalidad tributaria, el cual busca que todos los elementos esenciales de los impuestos (sujeto, objeto, base, tasa o tarifa y época de pago) se encuentren perfectamente definidos en el texto de la ley.
                        Esto, abundó, con la finalidad de que los contribuyentes tengan certeza de la forma en la que deben cumplir con sus obligaciones fiscales y, a su vez, las autoridades fiscales no tengan libertad de imponer contribuciones a título particular.

                        “De aprobarse, se violaría este principio ya que no se definen los elementos que integran la base del derecho, sino que se limita a remitir a las disposiciones de la Ley del ISR,” comentó el socio de Grupo de Práctica de Resolución de Controversias de Baker & McKenzie México, Alfonso Cortez.

                        “Esto deja en estado de incertidumbre al contribuyente y deja al arbitrio de la autoridad la imposición de un tributo”, agregó.

                        También se violaría el principio de proporcionalidad tributaria, el cual vela porque el contribuyente tribute o aporte al gasto público una parte proporcional de sus utilidades; es decir, que tribute conforme a su verdadera capacidad contributiva.
                        Además, el principio de equidad tributaria según el cual, para cumplirse, la ley debe otorgar un trato igual a los iguales y desigual a los desiguales salvo que el trato injustificado tenga alguna justificación objetiva o parafiscal que se advierta del propio texto de la ley o del procedimiento legislativo que le dio origen.
                        La consultora refirió el nuevo impuesto propuesto para las actividades mineras violaría además el principio de destino al gasto público, mediante el cual las contribuciones a cargo de los gobernados deben destinarse al gasto público, lo cual puede establecerse en el respectivo Presupuesto de Egresos de la Federación (PEF).

                        “Este principio pudiera violarse porque el ingreso que percibiría el Estado no se encuentra destinado en el correspondiente PEF para el ejercicio Fiscal de 2013 (en caso que la reforma entre en vigor en este mismo ejercicio)”, aclaró el socio de Grupo de Práctica Fiscal de Baker & McKenzie México, Luis Adrián Jiménez.

                        “En caso contrario, tendría que establecerse en el Presupuesto de Egresos del ejercicio fiscal 2014 o subsiguientes”, subrayó.

                        Según B&M, las modificaciones a la Ley Minera pretenden establecer el pago de un derecho de acuerdo a un porcentaje que será aplicado a los ingresos obtenidos por las compañías mineras, menos las deducciones autorizadas, por lo que es posible que se cree una doble imposición sobre un mismo ingreso.
                        Además del Derecho Especial sobre Minería propuesto, la misma fuente de riqueza se encontrará gravada por el ISR, el Impuesto Empresarial a Tasa Única (IETU), el Derecho sobre Minería ya existente, así como los impuestos y derechos estatales y municipales respectivos”, expuso Ruiz.
                        El socio experto en el Sector Minero de Baker & McKenzie México afirmó que esto sería, en consecuencia, “excesivamente gravoso y aniquilador de la actividad minera”.
                        La firma estimó que, si bien quedan varios pasos por tomar para la aprobación del Derecho Especial de Minería, deben analizarse a profundidad los puntos sobre su posible inconstitucionalidad, la deducibilidad de éste del ISR, además del destino eficiente, autónomo, objetivo y apartidista que se dará a los recursos obtenidos de esta nueva recaudación.
                        Además, apuntó, es necesario considerar las consecuencias económicas adversas que pesan sobre la industria minera así como las consideraciones macroeconómicas globales y los precios de los minerales.
                        Sólo así, se podrá construir un marco más incluyente, equitativo y competitivo para la consolidación y desarrollo de la minería en México, sostuvo.
                    </div>
                </div>
            </div>
        </article>

    </div>

    <footer>

    </footer>

</div>
</body>
</html>