<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
<div id="wrapper">

    <header>
        <ul class="menu">
            <li>
                <a href="somos.html">
                    somos
                </a>
            </li>
            <li>
                <a href="noticias.html">
                    noticias
                </a>
            </li>
            <li>
                <a href="directorio.html">
                    Directorio
                </a>
            </li>
            <li>
                <a href="capacitacion.html">
                    Capacitacion
                </a>
            </li>
            <li>
                <a href="eventos.html">
                    eventos
                </a>
            </li>
            <li>
                <a href="contacto.html">
                    contacto
                </a>
            </li>
        </ul>
    </header>
    <div id="content">
        <article class="article-contenido">
            <div class="titulo">
                NOSOTROS
            </div>
            <div class="subtitulo">
                Misión
            </div>
                <div class="texto">
                    Unir a los profesionistas de las minería, metalurgia, geología y de otras ramas relacionadas con el sector minero, con el fin de buscar el mejoramiento de su formación profesional, impulsar las Ciencias de la Tierra y luchar por el mejor desarrollo y eficiencia de la industria minero-metalúrgica mexicana.
                </div>
            <div class="subtitulo">
                Visión
            </div>
            <div class="texto">
                Ser la asociación de especialistas de las Ciencias de la tierra con mayor representatividad gremial y prestigio profesional reconocido, buscando siempre el beneficio de la familia minera y el óptimo aprovechamiento de los recursos minerales del país, en beneficio de la sociedad mexicana.
            </div>
            <div class="puntos"></div>
        </article>


        <article class="article-contenido">
            <div class="titulo">
                Beneficios
            </div>
            <div class="subtitulo">
                Conocimiento
            </div>
            <div class="texto">
                Nuestra Asociación reúne el conocimiento de la Metalurgia, capacitación, generación de ideas e innovaciones
            </div>
            <div class="subtitulo">
                Oportnidades
            </div>
            <div class="texto">
                A través de nuestra unión generamos oportunidades de negocios para fortalecer nuestro desarrollo y el de nuestra región.
            </div>
            <div class="subtitulo">
                Cominicación
            </div>
            <div class="texto clearfix">
                <div class="img-redes">
                    <img src="img/somos/redes.png">
                </div>
            </div>
            <div class="puntos"></div>
        </article>

        <article class="article-contenido">
            <div class="titulo">
                ¿CÓMO AFILIARSE?
            </div>
            <div class="subtitulo-completo">
                Cuotas
            </div>
        </article>
        <article class="article-contenido cuotas">
            <div class="titulo">
                CUOTAS ANUALES
            </div>
            <div class="titulo">
                PARA EL AÑO DE  2013
            </div>
            <div class="centro">
                <img src="img/somos/cuotas.png">
            </div>
            <br>
            <div class="titulo">
                Solicitud de Ingreso
            </div>
            <div class="centro">
                <a href="http://www.geomin.com.mx/pdf/anuncios/SOLICITUDSOCIOS_AIMMGM.pdf" target="_BLANK">
                    <img src="img/somos/descarga.png">
                </a>
            </div>

            <div class="puntos"></div>
        </article>


    </div><!-- Fin de Content -->

    <footer>

    </footer>

</div>
</body>
</html>